<ul class="nav flex-column side-nav">
  <li class="nav-item order">
    <a class="nav-link order" href="#">Orders (21)</a>
  </li>
  <li class="nav-item menu active">
    <a class="nav-link" href="#">Menu</a>
  </li>
  <li class="nav-item setting">
    <a class="nav-link" href="#">Settings</a>
  </li>
  <li class="nav-item staff">
    <a class="nav-link" href="#">Staff</a>
  </li>
  <li class="nav-item updates">
    <a class="nav-link" href="#">Updates</a>
  </li>
  <li class="nav-item support">
    <a class="nav-link" href="#">Support</a>
  </li>
  <li class="nav-item balance">
    <a class="nav-link" href="#">Balance</a>
  </li>
  <li class="nav-item buttom-item help">
    <a href="#">Help</a>
  </li>
</ul>