.side-nav{
    background: #fbfbfb;
    min-height: 750px;
}

ul li{
    padding: 10px 10px 10px 10px;
    border-bottom: 2px solid #fff;
    margin-right: -12px;
}

ul li a {
    color: #1a1a1a;
    text-decoration: none;
    text-align: center;
    
}

ul li:hover {
    background-color: #f4f4f4;
}

ul li.buttom-item{
    bottom: 0;
    position: absolute;
    padding-left: 40px;
}

ul li.order{
    background-image: url('../../assets/images/icon-order.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: left;
}

ul li.menu{
    background-image: url('../../assets/images/icon-menu.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: left
}

ul li.setting,ul li.support,ul li.balance{
    background-image: url('../../assets/images/icon-group.png');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: left
}

ul li.staff{
    background-image: url('../../assets/images/icon-staff.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: left
}

ul li.updates{
    background-image: url('../../assets/images/icon-updates.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: left
}

ul li.help{
    background-image: url('../../assets/images/icon-help.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: left;
}